*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.common-color{
    color: #E95A08;
}
.common-flex{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
    padding: 30px 100px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .21);
    position: sticky;
    top: 0%;
    left: 0%;
    z-index: 999;
    background-color: rgb(255, 255, 255);
}
.navbar-links ul{
    list-style: none;
    gap: 32px;
}
.navbar-links ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #252432;
    transition: .5s ease-in;
}
.navbar-links ul li a:hover,
.navbar-links ul li a.active{
    color: #000;
    font-weight: bold;
}
.cartIconSite {
    margin-left: 60px;
}
.cartIconSite h5{
    margin-top: 6px;
    margin-left: 7px;
    color: #3f3f43;
}
.logo{
    width: 100px;
}
.carticon{
    width: 25px;
}
.banner{
    width: 70%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px;
}
.contentTitle{
    width: 40%;
}
.mainTitle{
    font-size: 3rem;
    margin-bottom: 15px;
}
.imageSite{
    width: 48%;
}
.imageSite img{
    width: 100%;
}
.plantSection{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}
.plantSection h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.plantBoxes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-top: 40px;
}
.plantBox img{
    width: 100%;
    border-radius: 8px;
}
.plantBox h4{
    color: #111111;
    font-size: .7rem;
    margin-top: 10px;
    font-weight: 400;
}
.plantBox h3{
    color: #111111;
    font-size: 1.3rem;
    font-weight: bold;
}
.plantBox button{
    width: 100%;
    padding: 10px;
    background-color: #E95A08;
    border: none;
    border-radius: 3px;
    color: #fefefe;
    transition: .8s;
}
.plantBox button:hover{
    background-color: #e95a08d6;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 80%;
    margin: 0 auto;
    padding: 40px;
}
.logo-title-box{
    padding: 10px;
}
.logo-title-box p{
    width: 80%;
    margin-top: 15px;
}
.link-box{
    padding: 10px;
}
.link-box ul{
    list-style: none;
}
.link-box ul li a{
    margin-top: 15px;
    text-decoration: none;
    color: #252432;
    font-size: 1rem;
    font-weight: bold;
}
.twitter{
    margin-top: -70px;
}
.link-box ul li{
    margin-top: 20px;
}
.icon img{
    align-items: center;
    margin-left: 25px;
    flex-direction: row;
    margin-top: 15px;

}
.storeSection{
    width: 70%;
    margin: 0 auto;
    display: flex;
    padding: 40px;
    gap: 60px;
}
.img1{
    width: 48%;
    position: relative;
}
.img1 img{
    width: 100%;
    border-radius: 7px;
}
.storeContent{
    width: 45%;
    align-items: center;
    justify-content: center;
}
.storeContent h1{
    font-size: 2.5rem;
    margin-bottom: 15px;
    margin-top: 40px;
}
.storeContent ul li{
    margin-top: 20px;
    margin-left: 10px;
}
.flex{
    width: 160px;
    position: absolute;
    right: -15%;
    top: -10%;
}
.colorFullSection{
    background-image: url(B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    background-position: top 100% right 100% left 100% ;
    background-repeat: no-repeat;
    width: 100%;
    height:60vh;
    background-size: cover;
    position: relative;
}
.colorFullSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.colorFullSection h2{
    font-size: 2rem;
    color: #fefefe;
}
.colorFullSection input{
    width: 100%;
    padding: 7px 30px;
    outline: none;
    border: none;
    position: relative;

}
.colorFullSection label{
    display: flex;
    width: 35%;
}
.colorFullSection button{
    padding: 8px 40px;
    background-color: #E95A08;
    color: #fefefe;
    border: none;
}
.dealsSection{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 40px;
}
.dealsSection h2{
    font-size: 2.5rem;
    margin-bottom: 15px;
}
.dealsSection p{
    margin-bottom: 40px;
}
.containerBox{
    background-image: url(B12A02-Responsive-Flowers/assets/deal-bloom.png);
    background-repeat: no-repeat;
    height: 30vh;
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.containerBox h4{
    color: #fefefe;
}
.containerBox a{
    color: #fefefe;
}
.containerBox1 h4{
    color: #fefefe;
}
.containerBox1 a{
    color: #fefefe;
}
.containerBox1{
    background-image: url(B12A02-Responsive-Flowers/assets/deal-ana.png);
    background-repeat: no-repeat;
    height: 30vh;
    width: 370px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.big-container{
    background-image: url(B12A02-Responsive-Flowers/assets/deal-zabo.png);
    background-repeat: no-repeat;
    height: 60vh;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
.big-container h3{
    color: #fefefe;
}
.big-container a{
    color: #fefefe;
}
.container-deals{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}






@media screen and (max-width:549px){
    header {
	padding: 30px;
}
.dealsSection {
	width: 100%;
    padding: 10px;
}
.container-deals {
	flex-direction: column;
}
.containerBox {
	width: 330px;
    margin-left: 10px;
    margin-top: 0%;
    margin-bottom: 20px;
    height: 20vh;
}
.big-container {
height: 25vh;
width: 340px;
}

.containerBox1 {
	width: 330px;
    margin-left: 10px;
    margin-top: 0%;
    height: 20vh;
}
.plantSection {
	width: 100%;
}
.plantBoxes {
	grid-template-columns: repeat(2, 1fr);
}
.navbar-links ul {
	display: none;
}
.storeSection {
width: 100%;
flex-direction: column;
}
.img1 {
	width: 100%;
}
.flex {
	display: none;
}
.storeContent {
	width: 100%;
	align-items: center;
	justify-content: center;
}
.colorFullSection {
	height: 30vh;
}
.colorFullSection label {
	display: flex;
	width: 80%;
}
.colorFullSection h2 {
	font-size: 1.5rem;
	color: #fefefe;
}
.colorFullSection button {
	padding: 8px 20px;
}
.banner {
	width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
    ;
}
footer {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
    width: 100%
}
.imageSite {
	width: 100%;
}
.contentTitle {
	width: 100%;
    margin-top: 20px;
}
.mainTitle {
	font-size: 2rem;
	margin-bottom: 15px;
}
}


@media screen and (max-width:1120px) and (min-width:550px){
    .banner {
	width: 100%;
	padding: 40px;
}
.contentTitle {
	width: 48%;
}
.mainTitle {
	font-size: 2.5rem;
}
header {
	padding: 30px;
}
.navbar-links ul {
	list-style: none;
	gap: 12px;
}
}